@{
    ViewData["Title"] = "Постижения";
}


<h1>Постижения</h1>
<div class="row mt-5">
    <div class="col-6 achievment">
        <ol class="list-group">
            <li class="list-group-item list-group-item-warning">1.Шампион Национални Финали А група 2024г</li>
            <li class="list-group-item">2.Шампион зона Юг 2024г</li>
            <li class="list-group-item">3.Шампион купа Спас Натов 2024г</li>
        </ol>
    </div>
    <div class="col-6 achievment">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="/img/Hebar.jpg" class="d-block w-100 achievment-image" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/img/Hebar-Team.jpg" class="d-block w-100 achievment-image" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>